/*-------------------
/*--------global---------
--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
body {
    background: #13141D !important;
    color: #fff !important;
}

h1 {
    font-family: 'Caveat', cursive !important;
}

h2,
h3,
h4,
h5 {
    font-family: 'Caveat', cursive !important;
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

#cardStyle,
#salesforcet {
    background-color: #1B1C29 !important;
    border-radius: 2% !important;
}

#fontGreen {
    color: #23c167dc;
}

a:hover {
    color: #23c167dc
}

#link {
    color: #23c167a2;
}

#link:hover {
    color: #23c167dc;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.avatar {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
}

.hello {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    -ms-transition: all 3s ease;
    transition: all 3s ease;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}

.about {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 1s ease;
}

.about:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(5deg);
    zoom: 2rem;
}

.tilt {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tilt:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-box-shadow: 0 0 40px rgba(79, 213, 21, 0.6), inset 0 0 40px rgb(20, 196, 26);
    -moz-box-shadow: 0 0 40px rgba(115, 255, 15, 0.6), inset 0 0 40px rgb(25, 181, 119);
    box-shadow: 0 0 40px rgba(126, 255, 21, 0.6), inset 0 0 40px rgb(24, 196, 44);
}

.progress-bar {
    -webkit-box-shadow: all 3s ease;
    -moz-box-shadow: all 3s ease;
    box-shadow: all 3s ease;
    animation: mymovee 20s infinite;
}

@keyframes mymovee {
    0% {
        -webkit-box-shadow: 0 0 40px rgba(79, 213, 21, 0.6), inset 0 0 40px rgba(20, 196, 26, 0);
        -moz-box-shadow: 0 0 40px rgba(115, 255, 15, 0.6), inset 0 0 40px rgba(25, 181, 119, 0);
        box-shadow: 0 0 40px rgba(126, 255, 21, 0.6), inset 0 0 40px rgba(24, 196, 44, 0);
    }
    25% {
        -webkit-box-shadow: 0 0 40px rgba(79, 213, 21, 0.6), inset 0 0 40px rgb(20, 196, 26);
        -moz-box-shadow: 0 0 40px rgba(115, 255, 15, 0.6), inset 0 0 40px rgb(25, 181, 119);
        box-shadow: 0 0 40px rgba(126, 255, 21, 0.6), inset 0 0 40px rgb(24, 196, 44);
    }
    50% {
        -webkit-box-shadow: 0 0 40px rgba(79, 213, 21, 0.6), inset 0 0 40px rgba(20, 196, 26, 0);
        -moz-box-shadow: 0 0 40px rgba(115, 255, 15, 0.6), inset 0 0 40px rgba(25, 181, 119, 0);
        box-shadow: 0 0 40px rgba(126, 255, 21, 0.6), inset 0 0 40px rgba(24, 196, 44, 0);
    }
}

.skill {
    font-size: all 3s ease;
    animation: myskill 10s infinite;
}

@keyframes myskill {
    0% {
        font-size: x-large;
    }
    10% {
        font-size: xx-large;
    }
}

.badged:hover {
    zoom: 5;
    filter: drop-shadow(0px 0px 5px rgba(23, 255, 2, 0.646));
}

.githubdash:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.box {
    margin-left: 25%;
    padding-right: 10%;
    width: 50%;
    height: 20%;
    background-color: #0c0c0c;
    position: relative;
    box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
}

.box:after,
.box:before {
    mix-blend-mode: multiply;
    filter: none;
    z-index: -1;
    content: '';
    width: calc(100% + (50px * 2));
    height: calc(100% + (50px * 2));
    position: absolute;
    display: block;
    animation: border 10s ease-in-out infinite;
    transform: translateX(-50px) translateY(-50px);
}

@keyframes border {
    0%,
    100% {
        -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
        clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }
    50% {
        -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
        clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
}

.box:after {
    animation-delay: -5s;
    background-color: #93e1d8;
    clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
}

.box:before {
    background-color: #AA4465;
    clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
}

.box:hover:after {
    animation-delay: -0.1s;
}

.box:hover:before,
.box:hover:after {
    animation-duration: 0.2s;
}


/*-------------------
/*--------NavBar---------
--------------------*/

.navbar {
    opacity: 80%;
}


/*-------------------
/*--------varios---------
--------------------*/

.card-distributed {
    background-color: #1B1C29;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 10px 1px;
    margin-top: -9%;
}

#ericCirce {
    width: 15%;
    border-radius: 50% !important;
    border: 1px solid #23c167dc;
}

#ericCirc {
    width: 60%;
    border: 2px solid #23c167dc;
    padding: 1%;
    margin-left: 20%;
    z-index: 1000;
}

#firstDiv {
    margin-top: 5%;
}


/*-------------------
/*--------Figuras geometricas---------
--------------------*/

.trapecio {
    width: 100%;
    height: 0;
    margin-bottom: -31.74%;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 120px solid #23c1672d;
}

.trapecio-top {
    width: 100%;
    height: 0px;
    margin-top: -31.74%;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 120px solid #23c1672d;
}

#paralelograma {
    margin-top: 5%;
    margin-left: -15%;
    padding-top: 1%;
    padding-left: 0.7%;
    width: 30%;
    height: 50%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #23c1672d;
}

footer {
    height: 100%;
    background: linear-gradient(to bottom right, transparent 49.5%, #13141D 50%) right/100% 100% no-repeat;
}


/*-------------------
/*--------portafolio---------
--------------------*/

.item:hover .item-overlay.bottom {
    bottom: 0;
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #23c167dc;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-align: center;
    width: 100%;
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-overlay.top {
    top: 100%;
}

.item-overlay.bottom {
    bottom: 100%;
}

.item {
    position: relative;
    border: 1px solid #333;
    float: left;
    margin: 2%;
    overflow: hidden;
    width: 21%;
    max-width: 540px;
    border-radius: 20px;
}

.item img {
    max-width: 100%;
}


/*-------------------
/*--------education---------
--------------------*/

.rightbox {
    /* padding: 0em 34rem 0em 0em; */
    height: 100%;
}

.rb-container {
    font-family: "PT Sans", sans-serif;
    width: 30%;
    margin: auto;
    display: block;
    /* position: relative; */
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    /* margin-left: 10em; */
    /* min-height: 50px; */
    border-left: 1px dashed #fff;
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 1);
    border-radius: 500%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
    color: #50d890;
    position: relative;
    width: 100px;
    font-size: 12px;
}

.item-title {
    color: rgb(255, 255, 255);
}

input::placeholder {
    padding: 5em 5em 1em 1em;
    color: #50d890;
}


/*-------------------
/*--------badged---------
--------------------*/

#oracle {
    filter: drop-shadow(0 1px 5px rgba(255, 255, 255, 0.7));
}

@media (max-width: 575px) {
    #salesforce {
        margin-left: 0 !important;
        text-align: center !important;
        align-items: center !important;
        margin-left: 30% !important;
    }
    .container {
        margin-top: 20%;
    }
    #salesforcet {
        background-color: #1B1C29 !important;
        margin-left: 0 !important;
        text-align: center !important;
        align-items: center !important;
        margin-left: -1% !important;
    }
    #paralelograma {
        margin-top: 10%;
        margin-left: -23%;
        padding-top: 1%;
        padding-left: 0.7%;
        width: 40%;
        height: 10%;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
        background: #23c1672d;
    }
    #ericCirce {
        width: 30%;
        border-radius: 50% !important;
        border: 1px solid #23c167dc;
    }
}


/*-------------------
/*--------footer---------
--------------------*/

.footer-distributed {
    background-color: #1B1C29;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#icono:hover {
    color: #50d890;
    zoom: 1.3;
}

#icono {
    color: #fdfdfd;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}